{% extends 'base.html' %}

{% block title %}My products{% endblock %}
{% block content %}
    <h2 style="margin:24px 0px; text-align:center; text-transform:uppercase;">Seus produtos</h2>
    <div class="products-container">
        {% for item in owned_items %}
            <div class="product-container">
                <h3>{{ item.name }}</h3>
                <p>ID: {{ item.id }}</p>
                <p>Código de barras: {{ item.barcode }}</p>
                <p>Custa US${{ item.price }}</p>

                <div class="buttons">
                    <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">Descrição</button>
                    <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-SellConfirm-{{ item.id }}">Vender</button>
                </div>

            </div>

        {% include 'includes/owned_items_modals.html' %}
        {% endfor %}
    </div>

{% endblock %}
